CompileFlags:
  CompilationDatabase: build/
  Add:
    - -std=c++23
    - -Wunused-variable
    - -Wunused-lambda-capture
    - -Wunused-label
    - -Wno-infinite-recursion
    - -Wno-array-bounds
    - -Wno-return-stack-address
    - -Werror=implicit-function-declaration
    - -Wshadow
    - -Wno-shadow-field-in-constructor-modified
    - -Wno-shadow-ivar
    - -Wuninitialized
